footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-top: 50px;
    height: 50px;
}

.nav-button-footer {
    display: block;
    line-height: 2;
    text-align: center;
    font: inherit;
    font-size: 16px;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}