<div class="structure">
    <h1>
        <mat-icon aria-hidden="false" aria-label="Example contacts icon">contacts</mat-icon>
        Contacts
    </h1>

    <div class="column">
        <div class="card">
        <img src="assets/img/doctor-profile.png" alt="Jane" style="width:50%">
        <div class="container">
            <h2>Docteur Dupont</h2>
            <p class="title">Thérapeute</p>
            <p>Spécialiste dans la rééducation de la main</p>
            <p>contact@dupont.com</p>
            <p>01.12.13.14.15</p>
            <p>33 avenue des Champs-Elysées, 75008 Paris, FRANCE</p>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
        <img src="assets/img/doctor-profile.png" alt="Mike" style="width:50%">
        <div class="container">
            <h2>Docteur Posteque</h2>
            <p class="title">Thérapeute</p>
            <p>Spécialiste dans la rééducation de la main</p>
            <p>contact@posteque.com</p>
            <p>01.16.17.18.19</p>
            <p>78 avenue du général Leclerc, 75016 Paris, FRANCE</p>
            <p><button class="button">Contact</button></p>
        </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
        <img src="assets/img/support-profile.png" alt="John" style="width:50%">
        <div class="container">
            <h2>L'équipe Scriglov</h2>
            <p class="title">Support technique</p>
            <p>N'hésitez pas à nous contacter en ouvrant un ticket</p>
            <p><a class="linkColor" href="http://www.epitech.eu/epitech-innovative-projects.aspx">www.support.scriglov.fr</a></p>
            <p>06.30.13.36.05</p>
            <p>24 rue Pasteur, 94270 Le Kremlin-Bicêtre, FRANCE</p>
            <p><button class="button" href="http://www.support.scriglov.fr/">Site support</button></p>
        </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="assets/img/support-profile.png" alt="John" style="width:50%">
            <div class="container">
                <h2>L'équipe Scriglov</h2>
                <p class="title">Support technique</p>
                <p>N'hésitez pas à nous contacter en ouvrant un ticket</p>
                <p><a class="linkColor" href="http://www.epitech.eu/epitech-innovative-projects.aspx">www.support.scriglov.fr</a></p>
                <p>06.30.13.36.05</p>
                <p>24 rue Pasteur, 94270 Le Kremlin-Bicêtre, FRANCE</p>
                <p><button class="button" href="http://www.support.scriglov.fr/">Site support</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="assets/img/support-profile.png" alt="John" style="width:50%">
            <div class="container">
            <h2>L'équipe Scriglov</h2>
            <p class="title">Support technique</p>
            <p>N'hésitez pas à nous contacter en ouvrant un ticket</p>
            <p><a class="linkColor" href="http://www.epitech.eu/epitech-innovative-projects.aspx">www.support.scriglov.fr</a></p>
            <p>06.30.13.36.05</p>
            <p>24 rue Pasteur, 94270 Le Kremlin-Bicêtre, FRANCE</p>
            <p><button class="button" href="http://www.support.scriglov.fr/">Site support</button></p>
            </div>
        </div>
    </div>
</div>