<div class="container">
  <h1>
    <mat-icon class="example-icon" font-size="48px" aria-hidden="false" aria-label="Example account_balance icon">account_balance</mat-icon>
    Mentions légales
  </h1>
    <!-- [Contact] -->
  <h3>
    Contact
  </h3>
  <p>
    Nos applications et sites sont administrées par Scriglov :<br/>
      - SCRIGLOV<br/>
      - <u>Adresse</u> : 24 rue Pasteur<br/>
      - <u>Code Postal</u> : 94270, Le Kremlin-Bicêtre, France<br/>
      - <u>Téléphone</u> : 06.30.13.36.05<br/>
      - <u>Adresse mail</u> : contact@scriglov.fr<br/>
      - Le directeur de la publication Monsieur <b>Adrien CHOPARD</b>, en tant que membre de l’équipe Scriglov<br/>
      - Le responsable des traitements est Monsieur <b>Benjamin DUBUS</b>, en tant que chef du projet Scriglov<br/>
  </p>
  <!-- [Hébergement] -->
  <h3>
    Hébergement
  </h3>
  <p>
    Nos sites et applications sont hébergés sur les serveurs de la société :<br>
      - Amazon Web Services EMEA SARL, Succursale Française<br>
      <u>Adresse</u> : 31 place des Corolles, Tour Carpe Diem, 92400 Courbevoie<br>  
      <u>Téléphone</u> : 01 73 28 10 02<br>
  </p>
  <!-- [Conception, création graphique, développement et suivi technique] -->
  <h3>
    Conception, création graphique, développement et suivi technique
  </h3>
  <p>
    L’ensemble de la création des applications et sites Scriglov ont été réalisé par l’équipe.<br>
      - Epitech, école de l’innovation et de l’expertise informatique<br>
      <u>Adresse</u> : 24 rue Pasteur, 94270 Kremlin Bicêtre<br>
  </p>
</div>
