<div class="edit-page">
  <div class="form">
    <link rel="stylesheet" href="./change-password.component.css">
    <h1>Modification du mot de passe</h1>
    <form (ngSubmit)="onSubmit()" #editPasswordForm="ngForm">

      <div [hidden]="!fail" class="alert-danger">Mot de passe incorrect</div>
      <div [hidden]="!ok" class="alert-success">Mot de passe changé</div>

      <div class="form-group">
        <label>Ancien mot de passe</label>
        <input type="password" id="currentPassword" required name="currentPassword" [(ngModel)]="model.currentPassword" #currentPassword="ngModel">
        <div [hidden]="currentPassword.valid || currentPassword.pristine" class="alert-danger">Mot de passe requis</div>
      </div>

      <div class="form-group">
        <label for="pass">Nouveau mot de passe</label>
        <input type="password" id="newPassword" required [(ngModel)]="model.newPassword" name="newPassword" #newPassword="ngModel">
        <div [hidden]="newPassword.valid || newPassword.pristine" class="alert-danger">Mot de passe requis</div>
      </div>

      <div class="form-group">
        <label for="confNewPassword">Confirmation du mot de passe</label>
        <input type="password" id="confNewPassword" required [(ngModel)]="model.confNewPassword" name="confNewPassword" #confNewPassword="ngModel">
        <div [hidden]="!notSame" class="alert-danger">Confirmation du mot de passe ne correspond pas au mot de passe</div>
      </div>

        <button type="submit" (click)="updatePassword(); editPasswordForm.reset()">Modifier</button>
    </form>
    <p class="message"><a routerLink="/profile_edit">Annuler</a></p>
  </div>
</div>
