<div class="container">
  <!-- <a style="cursor: pointer;" (click)="redirectRelaxation();"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example present_to_all icon">keyboard_backspace</mat-icon></a> -->
  <h1>
    <mat-icon class="example-icon" font-size="48px" aria-hidden="false" aria-label="Example account_balance icon">account_balance</mat-icon>
    Conditions générales d'utilisation
  </h1>
  <p>
    Scriglov vous souhaite la bienvenue sur ses sites vitrine, support et professionnel ainsi que sur ses applications bureau et mobile.
    <br><br>
    Toute connexion aux sites et/ou applications Scriglov est subordonnée au respect des présentes conditions. Pour l’utilisateur internaute (ci-après dénommé l’utilisateur), le simple accès au site Scriglov vaut acceptation de l’ensemble des conditions décrites ci-après et engagement de les respecter.
  </p>
  <!-- [Présentation de l'application] -->
  <h3>
    Présentation de l'application
  </h3>
  <p>
    L’application bureau a pour objet d’offrir des exercices complets et ludiques (échauffement, assouplissement, motricité, etc) de rééducation et quelques statistiques accessible par l’utilisateur afin de pouvoir s’auto-évaluer en attendant de faire un suivi avec son praticien.
    <br>
    Les sites et applications Scriglov sont conçu en langue française.
    <br>
    Scriglov s’efforce d’assurer le bon fonctionnement et la sécurité informatique de ses sites et applications ainsi que l’exactitude et la mise à jour des informations qui y sont diffusées.
  </p>
  <!-- [Propriété intellectuelle] -->
  <h3>
    Propriété intellectuelle
  </h3>
  <p>
    Tous les éléments constitutifs du squelette des applications et/ou sites (photos, images, logos, animations, éléments modélisés, noms de domaine…), ainsi que les éléments technologiques (créations logicielles, back-office d'administration, services proposés...) sont protégés par le « Droit d'auteur » et sont la propriété exclusive de leurs auteurs respectifs, sauf dans les cas limitatifs de cession complète ou partielle de droits en faveur de Scriglov.
    <br><br>
    Les contenus des applications et/ou sites (textes, articles…) sont la propriété exclusive de leurs auteurs et ne peuvent être reproduits ni exploités sans l’accord de ceux-ci. Conformément aux dispositions de l'article L. 122-4 du « Code de la propriété intellectuelle », toute reproduction d'un contenu partiel ou total de l’application est interdite, quelle que soit sa forme (reproduction, imbrication, diffusion, techniques du "inline linking" et du "framing"...). Les liens directs établis vers des fichiers téléchargeables (quel que soit leur format) présents sur notre application sont également interdits.
    <br><br>
    Si vous souhaitez établir un lien avec nos applications et/ou sites, et avant toute mise en place de celui-ci, veuillez contacter l’équipe Scriglov avant toute mise en place du lien pointant vers nos sites et/ou applications ou ses contenus. 
    <br><br>
    Les textes présents provenant de sources externes ont été reproduits avec l’accord implicite ou explicite de leurs auteurs respectifs. A ce titre, mention est faite sur le site des sources et des auteurs respectifs.
    <br><br>
    L’utilisateur ne respectant pas les lois et règlements en vigueur s’expose à être poursuivi devant les tribunaux par Scriglov.    
  </p>
  <!-- [Loi informatique et libertés] -->
  <h3>
    Loi informatique et libertés
  </h3>
  <p>
    Conformément aux articles 38 et 40 de la loi 2004-801 du 06/08/2004, vous disposez d'un droit d'accès, de rectification, de suppression des données vous concernant. Ce droit peut s'exercer en ligne en adressant un mail à l'adresse contact@scriglov.fr (joindre une copie de votre pièce d’identité).
    <br><br>
    Les traitements susnommés sont conformes à la NS48 du 07/06/2005 éditée par la Commission Nationale Informatique et Libertés (CNIL). Vous pouvez en trouver les caractéristiques complètes en consultant notre rubrique « protection des données ».
  </p>
  <!-- [Politique de confidentialité et de Protection des données] -->
  <h3>
    Politique de confidentialité et de Protection des données
  </h3>
  <p>
    Une rubrique spécialement dédiée à notre politique de protection des données et de la vie privée a été rédigée à cet effet. Veuillez consulter celle-ci sur nos applications en cliquant sur la rubrique « <a routerLink="/data-protection-charter">protection des données</a> ».
    <br><br>
    Pour toute question relative aux présentes conditions d’utilisation des applications et/ou sites, vous pouvez écrire au responsable de la publication, Monsieur Adrien CHOPARD, à l’adresse contact@scriglov.fr.
  </p>
  <!-- [Signalement des abus] -->
  <h3>
    Signalement des abus
  </h3>
  <p>
    Scriglov n’est soumise à aucune obligation générale de surveillance ou de recherche des contenus illicites. Toutefois, nous nous efforçons de préserver la qualité des contenus des sites et applications Scriglov.
    <br><br>
    Si vous constatez ou estimez que le contenu diffusé sur les sites et/ou applications Scriglov présente un caractère manifestement illicite, signalez-le en envoyant un mail à l’adresse contact@scriglov.fr.
    <br>
    Toute notification abusive vous expose à des sanctions civiles ou pénales.
  </p>
  <!-- [Droit de réponse] -->
  <h3>
    Droit de réponse
  </h3>
  <p>
    Si vous estimez qu’un contenu porte atteinte à votre image, vous pouvez exercer un droit de réponse en envoyant un mail à l’adresse contact@scriglov.fr.
    <br><br>
    Votre droit de réponse sera diffusé dans un délai de trois jours ouvrables à compter de la réception de votre message.
    <br>
    Toute notification abusive vous expose à des sanctions civiles ou pénales. 
  </p>
  <!-- [Interdiction de mirroring] -->
  <h3>
    Interdiction de mirroring
  </h3>
  <p>
    Aucune mise en ligne du site par un tiers sous une autre URL n’est autorisée sans autorisation expresse et préalable de Scriglov.
  </p>
  <!-- [Modifications des présentes conditions générales d’utilisation] -->
  <h3>
    Modifications des présentes conditions générales d’utilisation
  </h3>
  <p>
    Scriglov se réserve la possibilité de modifier, à tout moment et sans préavis, les présentes conditions d’utilisation afin de les adapter aux évolutions des applications, sites et/ou de son exploitation.
  </p>
  <!-- [Intégrité du contrat] -->
  <h3>
    Intégrité du contrat
  </h3>
  <p>
    Si une ou plusieurs des clauses des présentes conditions générales d’utilisation venai(en)t à être déclarée(s) nulle(s) en application d’une loi, d’un règlement ou à la suite d’une décision définitive rendue par une juridiction compétente, les autres clauses des conditions générales conserveraient leur force obligatoire dans la limite de ladite décision.
  </p>
  <br />
</div>
