<mat-card>
  <mat-card-title><h3>La pétrissage de balle</h3></mat-card-title>
  <br />
  <mat-card-subtitle>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum molestie sem aliquet volutpat. Integer sem elit, fermentum in maximus id, consequat blandit tellus. Duis vitae tortor vitae enim finibus posuere eu a sem.
  </mat-card-subtitle>
  <br />
  <img src="assets/img/petrissage-balle.jpg" width="50%" height="50%">
  <br />
  <mat-card-content style="text-align: justify">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam dictum molestie sem aliquet volutpat. Nullam sed augue metus. Morbi laoreet varius mauris. Nullam consequat odio id pretium eleifend. Curabitur vel maximus tellus. Praesent ac lectus quis nisi volutpat convallis et eget sapien. Integer varius malesuada ante ac aliquam. Aliquam consequat leo sit amet venenatis tempus. Sed elementum bibendum magna, ac egestas magna hendrerit sit amet. Integer sem elit, fermentum in maximus id, consequat blandit tellus. Duis vitae tortor vitae enim finibus posuere eu a sem.
      <p>
        Morbi commodo pretium arcu in sollicitudin. Maecenas mattis arcu at consequat finibus. Suspendisse potenti. Fusce id euismod nunc, sed pharetra velit. Vestibulum et posuere nibh. Vestibulum nec eros nec ante mollis facilisis. Quisque mi ante, accumsan tincidunt risus quis, fermentum vulputate ligula. Vivamus feugiat ultricies dui. Nam a volutpat augue, ac commodo justo.
        <br>
        Vestibulum tellus purus, feugiat eu tincidunt consectetur, interdum eu arcu. Etiam est urna, ullamcorper eu tincidunt vitae, faucibus sed elit. Morbi congue euismod turpis, at finibus nisi cursus et. Sed eleifend rhoncus ante, id tristique turpis pretium id. Ut quis dolor eget ligula aliquam gravida. Maecenas et est lorem. Maecenas semper dolor vel eros molestie fringilla. Proin consequat ornare lorem, nec semper augue aliquam eget. Sed a sapien tempor, lacinia massa eu, dignissim metus. Duis consectetur, lacus a finibus fringilla, libero justo dapibus ex, vel tincidunt ante dolor quis tellus. Fusce vehicula est at arcu feugiat, ullamcorper consequat lorem mollis. Nunc in tempus orci.
        <br /><br />
        Cras ipsum lorem, viverra eget urna eget, malesuada fermentum dolor. Etiam porta lorem dolor, ut porta elit ultricies vitae. Mauris sed commodo nisi. Phasellus vulputate mi enim, eget tincidunt dui pretium sit amet. Pellentesque vel metus quis arcu aliquam efficitur vitae in enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tristique, sem vel convallis venenatis, sapien est hendrerit erat, sit amet accumsan neque neque vitae neque. Phasellus sollicitudin odio nisl, non tincidunt sem rhoncus ut. Curabitur tristique elementum ullamcorper. Ut pharetra odio sit amet orci auctor, ac viverra arcu cursus. Maecenas molestie risus nec dui placerat, sit amet tempus quam iaculis. Vivamus nulla purus, gravida vitae lacus quis, aliquet tempor libero. Sed hendrerit rhoncus velit vitae hendrerit. Nulla volutpat accumsan dapibus. Nullam condimentum non justo et ultricies. Donec viverra nisi sit amet nisl ultricies semper.
      </p>
  </mat-card-content>
  <br />
  <mat-card-actions>
    <button class="button" routerLink="/relaxation">Pratiquer</button>
  </mat-card-actions>
</mat-card>