<div>
  <mat-card>
    <a style="cursor: pointer;" (click)="redirectRelaxation();"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example present_to_all icon">keyboard_backspace</mat-icon></a>
    <mat-card-title><h3>Relaxation Guidée : Jacobson</h3></mat-card-title>
    <br>
    <mat-card-subtitle>
      La relaxation progressive de Jacobson est l’une des plus efficaces. Si vous la mettez en pratique régulièrement, elle va vous permettre de soulager progressivement toutes vos tensions musculaires.
    </mat-card-subtitle>
    <iframe style="display: block; margin-left: 5%" width="90%" height="65%" src="https://www.youtube.com/embed/6Bde786OJE0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <mat-card-content>
      <!-- Fill in -->
    </mat-card-content>
    <mat-card-actions>
      <h3>Compétences couvertes dans ce tutoriel</h3>
      <p class="key-word-box">Relaxation, jacobson, détente, tension, muscles</p>
      <br>
      <button class="button" routerLink="/jacobson">Accèder à l'exercice</button>
      <p style="text-align: center"></p>
    </mat-card-actions>
  </mat-card>
</div>