<div class="structure">
  <h1>
    <mat-icon aria-hidden="false" aria-label="Example video_library icon">video_library</mat-icon>
    Tutoriels
</h1>

  <div class="column">
      <div class="card">
        <img src="assets/img/pdf-icon.png" alt="pdf" class="pdf-img">
        <div class="container">
            <h3>Relaxation Jacobson</h3>
            <p><a href="assets/pdf/la-relaxation-progressive-de-jacobson.pdf"><button class="button">Télécharger</button></a></p>
        </div>
      </div>
  </div>

  <div class="column">
      <div class="card">
        <img src="assets/img/pdf-icon.png" alt="pdf" class="pdf-img">
        <div class="container">
            <h3>AVC rééducation</h3>
            <p><a href="assets/pdf/accident-vasculaire-cerebral-methode-de-reeducation.pdf"><button class="button">Télécharger</button></a></p>
        </div>
      </div>
  </div>

</div>