<div class="structure">
  <div class="desc-team">
    <h1>Qui sommes-nous ?</h1>
    <p class="description-project">Nous sommes étudiants en 5ème année à EPITECH Paris, une école d'informatique. Dans le cadre de notre cursus, nous devons réaliser un projet innovant de 2 ans et demi, dans le domaine de notre choix afin de nous permettre de travailler dans une situation professionnelle. Nous avons choisi le secteur médical, et plus précisément le sujet de la rééducation de la main.
    <p>Pour plus d'informations : <a class="linkColor" href="http://www.epitech.eu/epitech-innovative-projects.aspx">www.epitech.eu</a></p>
  </div>

  <div class="desc-project">
    <h1>Le projet Scriglov, c'est quoi ?</h1>
    <p class="description-project">Le projet Scriglov est un système de rééducation s’adressant aux enfants et adultes atteints de troubles psychomoteurs. 
      Ces troubles rendent complexes les gestes du quotidien, et demande une rééducation longue et coûteuse auprès d’un thérapeute. 
      La solution détecte les mouvements et la position de la main à l’aide d’un gant couvert de capteurs, couplé à un logiciel permettant d’analyser ses gestes. Scriglov propose des exercices de rééducation ludiques conçus en partenariat avec des thérapeutes et un système de suivi leur permettant d’évaluer l’avancée de la rééducation de leurs patients.
      Il y a une application bureau et une application mobile lorsque vous serez en déplacement.
    <p>Pour plus d'informations : <a class="linkColor" href="https://www.scriglov.fr">www.scriglov.fr</a></p>
  </div>
</div>
<br>
<img src="assets/img/logo-scriglov.png" class="logo-position" width="20%" height="30%">
