<div class="structure">
  <h1>
      <mat-icon aria-hidden="false" aria-label="Example video_library icon">video_library</mat-icon>
      Videos
  </h1>

  <div class="column">
    <div class="card">
      <iframe class="logo-position" width="100%" height="25%" src="https://www.youtube.com/embed/ihO02wUzgkc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="container">
        <h2>La relaxation progressive de type Jacobson</h2>
        <p class="resum">En mettant en pratique régulièrement la relaxation progressive de Jacobson, elle va vous permettre de soulager progressivement toutes vos tensions musculaires</p>
        <p><button class="button" routerLink="/jacobson-video">Accéder aux détails</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <iframe class="logo-position" width="100%" height="25%" src="https://www.youtube.com/embed/6Bde786OJE0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="container">
        <h2>La relaxation guidée de type Jacobson</h2>
        <p class="resum">En mettant en pratique régulièrement la relaxation progressive de Jacobson, elle va vous permettre de soulager progressivement toutes vos tensions musculaires</p>
        <p><button class="button" routerLink="/jacobson-video-deux">Accéder aux détails</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <iframe class="logo-position" width="100%" height="25%" src="https://www.youtube.com/embed/S0bx-Cj7rks" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="container">
        <h2>Exercices fonctionnels et musculaires pour la main</h2>
        <p class="resum">Si vos mains vous font souffrir, mettez en pratique ces quelques exercices fonctionnels et musculaires proposés par le Kinésithérapeute de Guide-arthrose.com.</p>
        <p><button class="button" routerLink="/jacobson-video-deux">Accéder aux détails</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <iframe class="logo-position" width="100%" height="25%" src="https://www.youtube.com/embed/A2BjaL6SwlM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="container">
        <h2>Accident Vasculaire Cérébral : apprendre à vivre après un AVC</h2>
        <p class="resum">Après un AVC, la rééducation est souvent très longue et les malades doivent apprendre à reconstruire leur vie au quotidien.</p>
        <p><button class="button" routerLink="/jacobson-video-deux">Accéder aux détails</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <iframe class="logo-position" width="100%" height="25%" src="https://www.youtube.com/embed/eXDfukOddBk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <div class="container">
        <h2>Chirurgie de la main : une longue rééducation</h2>
        <p class="resum">Dans les instituts spécialisés, il existe des consultations de kinésithérapie pour tous les patients qui ont subi un traumatisme de la main.</p>
        <p><button class="button" routerLink="/jacobson-video-deux">Accéder aux détails</button></p>
      </div>
    </div>
  </div>
</div>
