<div class="container">
  <!-- <a style="cursor: pointer;" (click)="redirectRelaxation();"><mat-icon class="example-icon" aria-hidden="false" aria-label="Example present_to_all icon">keyboard_backspace</mat-icon></a> -->
  <h1>
    <mat-icon class="example-icon" font-size="48px" aria-hidden="false" aria-label="Example account_balance icon">account_balance</mat-icon>
    Chartre sur la protection des données
  </h1>
  <p>
    Les données collectées sur ce site sont exclusivement destinées au projet Scriglov. Nous accordons la plus grande importance à la protection et la confidentialité de vos données personnelles.
    <br>
    L’objectif de cette information est ainsi de vous aider à comprendre la manière dont nous traitons les données à caractère personnel vous concernant.
    <br><br>
    Les traitements de vos données sont effectués conformément à la réglementation applicable notamment le Règlement européen dit « RGPD » (n°2016-679 relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données) et la Loi dite « Informatique et libertés », (loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés modifiée, et toute réglementation qui les complète ou qui s’y substituerait (ci-après "Réglementation Informatique et Libertés").
    <br><br>
    Lors de l’utilisation des sites et des applications par l’utilisateur, des données sont susceptibles d’être collectées et traitées en vue de permettre l’accès aux services des sites et des applications à des fins de gestion administrative, commerciale. Pour les applications bureau et mobile il a des fins également statistiques afin de proposer une rééducation optimale à l’utilisateur. Ces informations d’ordre médical sont protégées par le secret médical, et ne pourront être transmissent qu’au médecin s’occupant de la rééducation de l’utilisateur.
    <br><br>
    Il s’agit des données personnelles :
    <br>
    - Que vous nous communiquez directement pour les finalités (c’est-à-dire les objectifs) précisées dans nos formulaires sur les sites et applications (exemple : Données communiquées afin de pouvoir s’inscrire sur les sites et/ou applications).
    <br>
    - Des données personnelles que vous choisissez de rendre publiques sur les sites et/ou les applications.
    <br>
    - Et des données statistiques lors de la pratique d’un exercice sur l’application bureau (position de la main, taux de réussite, …).
  </p>
  <!-- [Données Personnelles collectées par formulaires] -->
  <h3>
    Données personelles collectées par formulaires
  </h3>
  <p>
    Les types de Données personnelles collectées par ces formulaires sont précisés dans chacun d’eux et diffèrent suivant les services et la finalité du traitement. 
    <br><br>
    Il peut s’agir :
    <br>
    - De Données personnelles d’identification (nom, prénom, âge…).
    <br>
    - De Données personnelles de contact (e-mail, adresse postale, numéro de téléphone,  ..).
    <br>
    - Des Données personnelles liées à vos habitudes ou préférences.
    <br><br>
    Lors de cette collecte, vous êtes notamment informés :
    <br>
    - Des objectifs du recueil de ces Données (finalités).
    <br>
    - Si certaines données doivent être obligatoirement renseignées ou si celles-ci sont facultatives et le cas échéant, des conséquences du défaut de renseignement de données obligatoires. Généralement, à défaut de renseignement de Données obligatoires, l’accès aux Services et leur utilisation pourra être restreinte.
    <br>
    - Des catégories de personnes habilitées à avoir accès à vos données (c’est à dire les destinataires de vos données, par exemple le médecin qui s’occupe de votre rééducation).
    <br>
    - Si nous envisageons un transfert hors Union Européenne de vos Données, nous mettons en place des garanties et vous informons de ces garanties assurant la conformité de ces transferts avec la Règlementation Informatique et Libertés.
    <br>
    - Des durées de conservation ou lorsque cela n’est pas possible des critères utilisés pour déterminer cette durée.
    <br>
    - Et plus généralement de l’ensemble des mentions imposées par la Règlementation Informatique et libertés.
  </p>
  <!-- [Données que vous rendez publiques] -->
  <h3>
    Données que vous rendez publiques
  </h3>
  <p>
    Par ailleurs, nous collectons et traitons des Données personnelles que vous choisissez d’afficher volontairement sur les sites et ou applications telles que notamment vos Données de profil de compte (pseudonyme, photo par exemple).
  </p>
  <!-- [Données liées à la pratique d’exercices] -->
  <h3>
    Données liées à la pratique d’exercices
  </h3>
  <p>
    Ces données concernent uniquement l’application bureau. Lorsque vous pratiqué un exercice des données statistiques sur la position de la main / de vos doigts ou le taux de réussite sont collectées afin de les transmettre au médecin qui se charge de votre rééducation. Avec pour objectif d’avoir un suivi régulier et sérieux, pour optimiser votre rééducation.
    <br><br>
    Certaines de vos données peuvent être collectées indirectement sur les sites et/ou les applications. D’une manière générale, il s’agit des données issues des cookies ou des technologies similaires.
    <br><br>
    Il peut s’agir des :
    <br>
    - Données relatives à la navigation (connexion, géolocalisation).
    <br>
    - Données collectées via les réseaux sociaux ou tout autre tiers.
    <br><br>
    Enfin, conformément à la réglementation en vigueur, les Données peuvent être transmises aux autorités compétentes sur requête et notamment aux organismes publics, exclusivement pour répondre aux obligations légales, les auxiliaires de justice, les officiers ministériels et les organismes chargés d’effectuer le recouvrement de créances, ainsi que dans la cadre de la recherche des auteurs d’infractions commises sur Internet.
    <br><br>
    Hormis ce cas, l’ensemble des données collectées sur les sites et les applications du projet ne seront accessible que par l’éditeur et le/les médecins qui s’occupent du suivi de votre rééducation. Ils sont tenus par le secret médical. Aucun prestataire extérieur n’aura la possibilité d’accéder à ces données.
  </p>
  <br />
</div>